* {box-sizing: border-box
}
.mySlides1, .mySlides2, .mySlides3 {
    display: none
}
img {
    vertical-align: middle;
}

html{
    scroll-behavior: smooth;
}
body {
    background-color: rgb(18, 18, 18);
    font-family: "Trebuchet MS", Helvetica, sans-serif;

}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#title{
    color:  #5D7458;
    font-size: 80px;
    letter-spacing: 6px;
}
p{
    color:  #5D7458;
    font-size: 20px;
}


.navbar a{
    text-decoration: none;
    color: #5D7458;
}
.navbar button{
    list-style: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-size: 30px;
    background-color: rgb(18, 18, 18);
    border: none;
}

.navbar button:hover{
    background-color: #5D7458;
    font-size: 35px;
}
.navbar a:hover{
    color: rgb(18, 18, 18);
}
.navbar button:hover{
    opacity: 30%;
}
.navbar li{
    color:#B6EADA;
    display: inline-block;
    padding: 8px;

}

.out{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding: 10px;

}
.out img:hover{
    opacity: 30%;
}

.pic1{
    grid-area: 1/1/span 2/ span 1;
}

.slideshow-container {
    max-width: 2200px;
    position: relative;
    margin: auto;
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 0%;
    width: auto;
    margin-top: 400px;
    padding: 30px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 10px 10px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 0px 0 0 0px;
  }

  .prev:hover, .next:hover {
    background-color: #f1f1f1;
    color: black;
  }

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


.green{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 100px;
    
}
.side{
    display: flex;
    position: relative;
}

.sidee{
    display: flex;
    position: relative;
}

.door{
    display: flex;
    position: relative;
}
#subtitle{
    color:  #5D7458;
    font-size: 30px;
    letter-spacing: 6px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;

}

.green p{
    padding-left: 30px;
    padding-right: 30px;
}

footer{
    display: block;
    color: #5D7458;
}




  